<div class="container">
    <div class="col-md-12">
        <ul style="background-color:white">
            <a class="btn btn-link" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="btn btn-link" routerLink="/" routerLinkActive="active">Replik Bas</a>
            <a class="btn btn-link" routerLink="/signin" (click)="authService.signInwithGoogle()">Sign in Google</a>
            <a class="btn btn-link" (click)="authService.signOut()">Sign Out</a>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>

